:root {
  --primary: #f3352c;

  /* red */
  --red: #f3352c;
  --red-hovered: #be1f17;
  --red-focused: #9d1d17;
  --red-dark: #9d1d17;
  --red-light: #ffcac8;

  /* secondary */
  --blue-dark: #183038;
  --ocean-dark-transperent: rgb(58, 127, 143, 0.2);
  --ocean: #6eb5c2;
  --ocean-light: #cde5ea;
  --ocean-dark: #3a7f8f;
  --ocean-dark-green: #284a52;
  --green-blue: #cee7e9;
  --blue-light: #f4f9fb;
  --blue-light-transperent: rgba(244, 249, 251, 0.3);

  /* black */
  --black-10: #f6f6f6;
  --black-20: #e7e7e7;
  --black-40: #b0b0b0;
  --black-60: #5d5d5d;
  --black-70: #454545;
  --black-80: #262626;
  --slate-200: #e2e8f0;

  /* system */
  --error: #ff3b30;
  --info: #4542fe;
  --warning: #ffcc00;
  --success: #099e20;

  --semi-transparent-white-2: rgba(255, 255, 255, 0.2);
  --transparent-white-6: rgba(255, 255, 255, 0.6);
  --semi-transparent-black-3: rgba(0, 0, 0, 0.3);
  --semi-transparent-black-2: rgba(0, 0, 0, 0.2);
  --semi-transparent-black-7: rgba(0, 0, 0, 0.7);
  --semi-transparent-brown-5: rgba(94, 73, 66, 0.3);
  --semi-transparent-brown-3: rgba(94, 73, 66, 0.3);
  --semi-transparent-brown-3: rgba(62, 157, 235, 0.664);

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --border-radius: 2rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;

  /* box shadow*/
  --shadow-dark: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-light: 0 4px 6px -1px rgba(255, 255, 255, 0.25),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  font-family: "Roboto", "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* typography  */
  --b1-font-size: 20pt;
  --b1-line-height: 24pt;

  --b2-font-size: 18pt;
  --b2-line-height: 22pt;

  --b3-font-size: 16pt;
  --b3-line-height: 19pt;

  --b4-font-size: 14pt;
  --b4-line-height: 16pt;

  --b5-font-size: 12pt;
  --b5-line-height: 14pt;

  --h1-font-size: 40pt;
  --h1-line-height: 60pt;

  --h2-font-size: 26pt;
  --h2-line-height: 40pt;

  --h3-font-size: 24pt;
  --h3-line-height: 36pt;

  --h4-font-size: 20pt;
  --h4-line-height: 30pt;

  --h5-font-size: 16pt;
  --h5-line-height: 18pt;
}

.site-wrapper.light {
  --bg-primary: #fff;
  --bg-secondary: var(--blue-light);
  --bg-blue: var(--blue-light);
  --bg-ocean: var(--ocean-light);
  --bg-ocean-green: var(--ocean-light);

  --text-primary: var(--black-60);
  --text-secondary: #000;
  --text-ocean: var(--ocean-dark);
  --text-ocean-light: var(--ocean-dark);

  --color-b-bl: #000;
  --color-b-gb: #000;

  --color-b10-od: var(--black-10);

  --color-b20-b60: var(--black-20);
  --color-b20-gb: var(--black-20);
  --color-b20-o: var(--black-20);
  --color-b20-od: var(--black-20);

  --color-b40-b60: var(--black-40);
  --color-b40-bl: var(--black-40);
  --color-b40-gb: var(--black-40);
  --color-b40-o: var(--black-40);
  --color-b40-w: var(--black-40);

  --color-b60-bl: var(--black-60);
  --color-b60-o: var(--black-60);
  --color-b60-od: var(--black-60);
  --color-b60-w: var(--black-60);

  --color-b70-bl: var(--black-70);
  --color-b70-gb: var(--black-70);
  --color-black: var(--black-70);

  --color-bl-od: var(--blue-light);
  --color-bl-odg: var(--blue-light);

  --color-gb-bd: var(--green-blue);

  --color-o-gb: var(--ocean);

  --color-od-gb: var(--ocean-dark);
  --color-od-b40: var(--ocean-dark);

  --color-odg-gb: var(--ocean-dark-green);

  --color-ol-bd: var(--ocean-light);

  --color-w-gb: #fff;

  --bg-transparent: var(--semi-transparent-white-6);
  --bg-transparent-secondary: var(--semi-transparent-white-2);
  --text-transperent: var(--ocean-dark-transperent);

  --shadow: var(--shadow-dark);
}

.site-wrapper.dark {
  --bg-primary: var(--blue-dark);
  --bg-secondary: var(--blue-dark);
  --bg-blue: var(--green-blue);
  --bg-ocean: var(--ocean-dark);
  --bg-ocean-green: var(--ocean-dark-green);

  --text-primary: var(--green-blue);
  --text-secondary: #fff;
  --text-ocean: var(--ocean);
  --text-ocean-light: var(--ocean-light);

  --color-b-bl: var(--blue-light);
  --color-b-gb: var(--green-blue);

  --color-b10-od: var(--ocean-dark);

  --color-b20-b60: var(--black-60);
  --color-b20-gb: var(--green-blue);
  --color-b20-o: var(--ocean);
  --color-b20-od: var(--ocean-dark);

  --color-b40-b60: var(--black-60);
  --color-b40-bl: var(--blue-light);
  --color-b40-gb: var(--green-blue);
  --color-b40-o: var(--ocean);
  --color-b40-w: var(--white);

  --color-b60-bl: var(--blue-light);
  --color-b60-o: var(--ocean);
  --color-b60-od: var(--ocean-dark);
  --color-b60-w: #fff;

  --color-b70-bl: var(--blue-light);
  --color-b70-gb: var(--green-blue);
  --color-black: var(--black-40);

  --color-bl-od: var(--ocean-dark);
  --color-bl-odg: var(--ocean-dark-green);

  --color-gb-bd: var(--blue-dark);

  --color-o-gb: var(--green-blue);

  --color-ol-bd: var(--blue-dark);

  --color-od-gb: var(--green-blue);
  --color-od-b40: var(--black-40);

  --color-odg-gb: var(--green-blue);

  --color-w-gb: var(--green-blue);

  --bg-transparent: var(--semi-transparent-black-7);
  --bg-transparent-secondary: var(--semi-transparent-black-3);
  --text-transperent: var(--blue-light-transperent);

  --shadow: var(--shadow-light);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.home-page {
  margin-top: -8rem;
  padding-top: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: var(--text-secondary);
  color: var(--color-b-bl);
}

h1 {
  color: var(--color-b-bl);
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6 {
  font-family: "Roboto", sans-serif;
  /* color: var(--text-primary); */
  white-space: pre-wrap;
}

.b1 {
  font-size: var(--b1-font-size);
  font-weight: 400;
  line-height: var(--b1-line-height);
  letter-spacing: 0;
}

.b2 {
  font-size: var(--b2-font-size);
  font-weight: 400;
  line-height: var(--b2-line-height);
  letter-spacing: 0;
}

.b3 {
  font-size: var(--b3-font-size);
  font-weight: 400;
  line-height: var(--b3-line-height);
  letter-spacing: 0;
}

.b4 {
  font-size: var(--b4-font-size);
  font-weight: 400;
  line-height: var(--b4-line-height);
  letter-spacing: 0;
}

.b5 {
  font-size: var(--b5-font-size);
  font-weight: 400;
  line-height: var(--b5-line-height);
  letter-spacing: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 500;
  line-height: var(--h1-line-height);
  letter-spacing: 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 500;
  line-height: var(--h2-line-height);
  letter-spacing: 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: bold;
  line-height: var(--h3-line-height);
  letter-spacing: 0;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: bold;
  line-height: var(--h4-line-height);
  letter-spacing: 0;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: var(--h5-font-size);
  font-weight: bold;
  line-height: var(--h5-line-height);
  letter-spacing: 0;
}

.bg-primary {
  background-color: var(--bg-primary);
}

button,
.button {
  display: block;
  margin: 0 auto;
  background-color: var(--bg-primary);
  color: var(--primary);
  font-size: var(--b2-font-size);
  border: 1px solid var(--primary);
  padding: 0.75rem 3rem;
  /* width: 54px; */
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-ocean,
.btn-ocean:focus {
  background-color: var(--bg-primary);
  color: var(--color-o-gb);
  border-color: var(--green-blue);
}

.btn-ocean:hover {
  background-color: transparent;
  color: var(--ocean-dark);
  border-color: var(--ocean-dark);
}

.btn-ocean.selected,
.btn-ocean.selected:hover,
.btn-ocean.selected:focus {
  background-color: var(--green-blue);
  color: var(--ocean-dark);
  border-color: var(--ocean-dark);
}

.button.long,
button.long {
  padding: 1rem 7rem;
  /* width: 310px; */

  @media (max-width: 768px) {
    padding: 1rem 3rem;
    width: 100%;
  }
}

button:hover,
.button:hover {
  border-color: var(--red-hovered);
}

button:focus,
.button:focus {
  border-color: var(--red-focused);
  color: var(--red-focused);
}

.button.selected:focus,
button.selected:focus {
  background-color: var(--red-focused);
}

.button.selected,
button.selected,
.button.selected:focus,
button.selected:focus {
  background-color: var(--primary);
  color: #000;
}

.button.selected:hover,
button.selected:hover {
  background-color: var(--red-hovered);
}

.button.secondary,
button.secondary {
  background-color: var(--background-color);
  color: var(--green-blue);
  border-color: var(--ocean-dark);
}

.button.secondary:hover,
button.secondary:hover {
  background-color: var(--background-secondary-color);
}

.button.secondary.selected,
button.secondary.selected {
  background-color: var(--ocean-dark);
  color: var(--green-blue);
  border-color: var(--ocean-dark);
}

.button.secondary.selected:hover,
button.secondary.selected:hover {
  background-color: var(--ocean);
}

button:disabled,
.button:disabled {
  color: var(--red-light);
  border-color: var(--red-light);
  cursor: not-allowed;
}

button.selected:disabled,
.button.selected:disabled {
  color: var(--black-10);
  background-color: var(--red-light);
  cursor: not-allowed;
}

.text-button,
.text-button:hover,
.text-button:focus {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    color: inherit;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.bold {
  font-weight: bold;
}

.capitalize-all {
  text-transform: uppercase;
}

.capitalize-first {
  text-transform: capitalize;
}

.site-wrapper {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

main {
  flex: 1 0 auto;
  padding-top: 6rem;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-b40-b60);
}

.logo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.socials-container.column {
  flex-direction: column;
}

.socials-container a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.created-by {
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--bg-primary);
}

.created-by a {
  font-weight: bold;
  color: var(--text-secondary);
}

.info-card {
  /* flex: 1 1 100%; */
  width: 100%;
  min-width: fit-content;
  padding: 2rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-radius: 1.3rem;
  border: 1px solid var(--black-20);
  box-shadow: var(--shadow);
  background-color: var(--bg-primary);
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
}

.form-row-inline {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.form-row-inline > * {
  flex: 1;
  box-sizing: border-box;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  pointer-events: none;
}

.content-blurred {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 1343px) {
  main {
    padding-top: 6rem;
  }
}

@media (max-width: 1200px) {
  main {
    margin: 2rem 0;
    padding-top: 3rem;
  }
}

@media (max-width: 768px) {
  :root {
    --nav-height: 4rem;
  }

  main {
    margin: 0;
  }
}

@media (max-width: 480px) {
  :root {
    --nav-height: 3rem;
  }

  .home-page {
    margin-top: -6rem;
    padding-top: 6rem;
  }
}
