:root {
  --primary: #f3352c;

  /* red */
  --red: #f3352c;
  --red-hovered: #be1f17;
  --red-focused: #9d1d17;
  --red-dark: #9d1d17;
  --red-light: #ffcac8;

  /* secondary */
  --blue-dark: #183038;
  --ocean-dark-transperent: rgb(58, 127, 143, 0.2);
  --ocean: #6eb5c2;
  --ocean-light: #cde5ea;
  --ocean-dark: #3a7f8f;
  --ocean-dark-green: #284a52;
  --green-blue: #cee7e9;
  --blue-light: #f4f9fb;
  --blue-light-transperent: rgba(244, 249, 251, 0.3);

  /* grey */
  --grey-20: #e7e7e7;
  --grey-100: #262626;

  /* black */
  --black-10: #f6f6f6;
  --black-20: #e7e7e7;
  --black-40: #b0b0b0;
  --black-60: #5d5d5d;
  --black-70: #454545;
  --black-80: #262626;

  /* system */
  --error: #ff3b30;
  --info: #4542fe;
  --warning: #ffcc00;
  --success: #099e20;

  --semi-transparent-white-2: rgba(255, 255, 255, 0.2);
  --transparent-white-6: rgba(255, 255, 255, 0.6);
  --semi-transparent-black-3: rgba(0, 0, 0, 0.3);
  --semi-transparent-black-2: rgba(0, 0, 0, 0.2);
  --semi-transparent-black-7: rgba(0, 0, 0, 0.7);
  --semi-transparent-brown-5: rgba(94, 73, 66, 0.3);
  --semi-transparent-brown-3: rgba(94, 73, 66, 0.3);
  --semi-transparent-brown-3: rgba(62, 157, 235, 0.664);

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --border-radius: 2rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;

  /* box shadow*/
  --shadow-dark: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-light: 0 4px 6px -1px rgba(255, 255, 255, 0.25),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  font-family: "Roboto", "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* typography  */
  --b1-font-size: 20pt;
  --b1-line-height: 24pt;

  --b2-font-size: 18pt;
  --b2-line-height: 22pt;

  --b3-font-size: 16pt;
  --b3-line-height: 19pt;

  --b4-font-size: 14pt;
  --b4-line-height: 16pt;

  --b5-font-size: 12pt;
  --b5-line-height: 14pt;

  --h1-font-size: 40pt;
  --h1-line-height: 60pt;

  --h2-font-size: 26pt;
  --h2-line-height: 40pt;

  --h3-font-size: 24pt;
  --h3-line-height: 36pt;

  --h4-font-size: 20pt;
  --h4-line-height: 30pt;

  --h5-font-size: 16pt;
  --h5-line-height: 18pt;
}

.site-wrapper.light {
  --bg-color: #fff;
  --bg-color-secondary: var(--blue-light);
  --bg-color-ocean: var(--ocean-light);
  --bg-color-ocean-og: var(--ocean-light);
  --bg-color-blue: var(--blue-light);
  --bg-color-blue-gb: var(--blue-light);
  --bg-color-card: #000;
  --bg-color-dark: var(--green-blue);
  --bg-color-w-gb: #fff;
  --bg-color-g-o: var(--black-20);
  --bg-color-o-b: var(--ocean-light);
  --text-color-light: var(--black-40);
  --text-color: var(--black-60);
  --text-color-secondary: #000;
  --bg-color-transparent: var(--semi-transparent-white-6);
  --bg-color-transparent-secondary: var(--semi-transparent-white-2);
  --text-color-transparent: var(--semi-transparent-brown-3);
  --text-color-transparent-secondary: var(--semi-transparent-black-2);
  --text-color-blue: var(--ocean-dark);
  --text-color-black-gb: #000;
  --text-color-grey-o: var(--black-60);
  --text-color-o-gb: var(--ocean-dark);
  --text-color-o-b10: var(--ocean-dark);
  --text-color-o-b40: var(--ocean-dark);
  --text-color-ocean-green: var(--ocean-dark);
  --text-color-ocean-transperent: var(--ocean-dark-transperent);
  --black: var(--black-70);
  --grey: var(--black-20);
  --shadow: var(--shadow-dark);
}

.site-wrapper.dark {
  --bg-color: var(--blue-dark);
  --bg-color-secondary: var(--blue-dark);
  --bg-color-ocean: var(--ocean-dark);
  --bg-color-ocean-og: var(--ocean-dark-green);
  --bg-color-blue: var(--ocean-dark);
  --bg-color-blue-gb: var(--green-blue);
  --bg-color-card: var(--blue-light);
  --bg-color-dark: var(--blue-dark);
  --bg-color-w-gb: var(--green-blue);
  --bg-color-g-o: var(--ocean-dark);
  --bg-color-o-b: var(--blue-dark);
  --text-color-light: var(--black-60);
  --text-color: var(--green-blue);
  --text-color-secondary: var(--black-10);
  --text-color-transparent: var(--semi-transparent-white-6);
  --bg-color-transparent: var(--semi-transparent-black-7);
  --bg-color-transparent-secondary: var(--semi-transparent-black-3);
  --text-color-blue: var(--ocean-light);
  --text-color-black-gb: var(--green-blue);
  --text-color-grey-o: var(--ocean);
  --text-color-o-gb: var(--green-blue);
  --text-color-o-b10: var(--black-10);
  --text-color-o-b40: var(--black-40);
  --text-color-ocean-green: var(--green-blue);
  --text-color-ocean-transperent: var(--blue-light-transperent);
  --black: var(--black-40);
  --grey: var(--black-70);
  --shadow: var(--shadow-light);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.home-page {
  margin-top: -8rem;
  padding-top: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: var(--text-color-secondary);
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6 {
  font-family: "Roboto", sans-serif;
  /* color: var(--text-color); */
}

.b1 {
  font-size: var(--b1-font-size);
  font-weight: 400;
  line-height: var(--b1-line-height);
  letter-spacing: 0;
}

.b2 {
  font-size: var(--b2-font-size);
  font-weight: 400;
  line-height: var(--b2-line-height);
  letter-spacing: 0;
}

.b3 {
  font-size: var(--b3-font-size);
  font-weight: 400;
  line-height: var(--b3-line-height);
  letter-spacing: 0;
}

.b4 {
  font-size: var(--b4-font-size);
  font-weight: 400;
  line-height: var(--b4-line-height);
  letter-spacing: 0;
}

.b5 {
  font-size: var(--b5-font-size);
  font-weight: 400;
  line-height: var(--b5-line-height);
  letter-spacing: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 500;
  line-height: var(--h1-line-height);
  letter-spacing: 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 500;
  line-height: var(--h2-line-height);
  letter-spacing: 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: bold;
  line-height: var(--h3-line-height);
  letter-spacing: 0;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: bold;
  line-height: var(--h4-line-height);
  letter-spacing: 0;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: var(--h5-font-size);
  font-weight: bold;
  line-height: var(--h5-line-height);
  letter-spacing: 0;
}

button,
.button {
  display: block;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0.75rem 3rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-ocean {
  background-color: var(--bg-color);
  color: var(--ocean);
  border-color: var(--green-blue);
}

.btn-ocean:hover,
.btn-ocean:focus {
  background-color: var(--blue-light);
  color: var(--ocean);
  border-color: var(--green-blue);
}

.btn-ocean.selected,
.btn-ocean.selected:hover,
.btn-ocean.selected:focus {
  background-color: var(--green-blue);
  color: var(--ocean-dark);
  border-color: var(--ocean-dark);
}

.button.long,
button.long {
  padding: 1rem 7rem;

  @media (max-width: 768px) {
    padding: 1rem 3rem;
    width: 100%;
  }
}

button:hover,
.button:hover {
  border-color: var(--red-hovered);
}

button:focus,
.button:focus {
  border-color: var(--red-focused);
  color: var(--red-focused);
}

.button.selected,
button.selected {
  background-color: var(--primary);
  color: #000;
}

.button.selected:hover,
button.selected:hover {
  background-color: var(--red-hovered);
}

.button.selected:focus,
button.selected:focus {
  background-color: var(--red-focused);
}

.button.secondary,
button.secondary {
  background-color: var(--background-color);
  color: var(--green-blue);
  border-color: var(--ocean-dark);
}

.button.secondary:hover,
button.secondary:hover {
  background-color: var(--background-secondary-color);
}

.button.secondary.selected,
button.secondary.selected {
  background-color: var(--ocean-dark);
  color: var(--green-blue);
  border-color: var(--ocean-dark);
}

.button.secondary.selected:hover,
button.secondary.selected:hover {
  background-color: var(--ocean);
}

button:disabled,
.button:disabled {
  color: var(--red-light);
  border-color: var(--red-light);
  cursor: not-allowed;
}

button.selected:disabled,
.button.selected:disabled {
  color: var(--black-10);
  background-color: var(--red-light);
  cursor: not-allowed;
}

.bold {
  font-weight: bold;
}

.capitalize-all {
  text-transform: uppercase;
}

.capitalize-first {
  text-transform: lowercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.site-wrapper {
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  flex: 1 0 auto;
  /* padding: 0 1rem; */
  padding-top: 6rem;
  box-sizing: border-box;
  /* margin: 2rem 0; */
}

a {
  text-decoration: unset;
  color: unset;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

.socials-container.column {
  flex-direction: column;
}

.socials-container a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.created-by {
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--bg-color);
}

.created-by a {
  font-weight: bold;
  color: var(--text-color-secondary);
}

@media (max-width: 1343px) {
  main {
    padding-top: 6rem;
  }
}

@media (max-width: 1200px) {
  main {
    margin: 2rem 0;
    padding-top: 3rem;
  }
}

@media (max-width: 768px) {
  :root {
    --nav-height: 4rem;
  }

  main {
    margin: 0;
  }
}

@media (max-width: 480px) {
  :root {
    --nav-height: 3rem;
  }

  .home-page {
    margin-top: -6rem;
    padding-top: 6rem;
  }
}
