.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.site-wrapper.light {
  --primary-color: #000000;
  --background-color: #ffffff;
  --background-secondary-color: #dedede;
  --secondary-color: #333333;
  --accent-color: #04850a;
  --accent-lighter-color: #b4dab6;
  --accent-darker-color: #026805;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
}

.site-wrapper.dark {
  --primary-color: #ffffff;
  --background-color: #000000;
  --background-secondary-color: #333333;
  --secondary-color: #dedede;
  --accent-color: #04850a;
  --accent-lighter-color: #b4dab6;
  --accent-darker-color: #026805;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: unset;
  color: unset;
}

header {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
}

header .site-logo {
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6em;
}

header a {
  text-decoration: none;
  font-weight: bold;
  padding: 1em 1em;
}

header a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

nav {
  display: flex;
  margin-right: 6em;
}

.theme-switcher {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.theme-label {
  margin: 0 0.5em;
  font-weight: bold;
  font-size: 0.8em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}
/* 
input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-logo {
  height: 4em;
  margin-right: 6em;
}

.footer-sections {
  display: flex;
  justify-content: center;
}

.footer-sections section {
  margin: 0 5em;
}

.footer-sections h3 {
  font-size: 1.2em;
}

.footer-sections div {
  display: flex;
  flex-direction: column;
}

.footer-sections a {
  margin: 0.2em 0;
}

.footer-sections a:hover {
  color: var(--warn-lighter-color);
}

.footer-bottom {
  margin-top: 1.5em;
  text-align: center;
  width: 100%;
  color: var(--primary-color);
}

.created-by {
  text-align: center;
  padding: 1em 0;
  background-color: var(--accent-darker-color);
}

.created-by a {
  font-weight: bold;
  color: var(--secondary-color);
}

.created-by a:hover {
  color: #161616;
}
