:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--primary-color);
  background-color: var(--background-color);
  /* position: relative; */
}

.site-wrapper.light {
  --primary-color: #000000;
  --background-color: #ffffff;
  --background-secondary-color: #dedede;
  --secondary-color: #333333;
  --accent-color: #04850a;
  --accent-lighter-color: #b4dab6;
  --accent-darker-color: #026805;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
}

.site-wrapper.dark {
  --primary-color: #ffffff;
  --background-color: #000000;
  --background-secondary-color: #333333;
  --secondary-color: #dedede;
  --accent-color: #04850a;
  --accent-lighter-color: #b4dab6;
  --accent-darker-color: #026805;
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: unset;
  color: unset;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

header {
  height: 8em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 1em 3em;
  /* background-color: var(--background-secondary-color); */
  background-color: transparent;
  color: var(--secondary-color);
  box-sizing: border-box;
  font-size: 1.1rem;
}

/* header .site-logo {
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6em;
} */

header .logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

header .nav-center {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1em;
}

header .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header a {
  text-decoration: none;
  font-weight: bold;
  padding: 1em 1em;
}

header a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.active-link {
  font-weight: 800;
  text-decoration: underline;
  color: var(--accent-color);
}

nav {
  display: flex;
  /* margin-right: 6em; */
  margin-left: auto;
}

.shop-btn {
  margin-left: 1rem;
  font-size: 2.3rem;
}

.theme-switcher {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.theme-label {
  margin: 0 0.5em;
  font-weight: bold;
  font-size: 0.8em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}
/* 
input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.home-image {
  display: block;
  width: calc(100% - 20rem);
  margin: 0 auto;
  padding: 0 10rem;
  box-sizing: border-box;
}
.socials-container {
  position: fixed; /* Fix the position */
  left: 1rem; /* Adjust the left position as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Space between the icons */
  margin-left: 5rem;
}

.socials-container a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s;
  font-size: 2em;
}

.socials-container a:hover {
  transform: scale(1.2);
}

.socials-text {
  writing-mode: vertical-rl; /* Rotate the text vertically */
  text-align: center;
  margin-bottom: 1rem;
  transform: rotate(180deg); /* Flip the text to read from bottom to top */
}

.socials-text div {
  line-height: 1.2;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-logo {
  height: 4em;
  margin-right: 6em;
}

.footer-sections {
  display: flex;
  justify-content: center;
}

.footer-sections section {
  margin: 0 5em;
}

.footer-sections h3 {
  font-size: 1.2em;
}

.footer-sections div {
  display: flex;
  flex-direction: column;
}

.footer-sections a {
  margin: 0.2em 0;
}

.footer-sections a:hover {
  color: var(--warn-lighter-color);
}

.footer-bottom {
  margin-top: 1.5em;
  text-align: center;
  width: 100%;
  color: var(--primary-color);
}

.created-by {
  text-align: center;
  padding: 1em 0;
  background-color: var(--accent-darker-color);
}

.created-by a {
  font-weight: bold;
  color: var(--secondary-color);
}

.created-by a:hover {
  color: #161616;
}
